@import url(https://fonts.googleapis.com/css?family=Economica:400,700);


.title {
  padding: 60px;
  position: relative;
  text-align: center;
  font-size: 80px;
  color: rgb(0, 230, 165);
  }
  
  
  
  
  
  
  
  body {
    background: #000000;
    font-family: 'Economica', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-backface-visibility: hidden;
    
    
  
  
  }
  

  
 





  
  
    
  
  
  
  
  @media only screen and (min-width: 600px) {






    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
     
  
    }
  
    .button {
      display: inline-block;
      border: solid .25em transparent;
      padding: 1em 1.5em;
      border-radius: 7em;
      margin: 0 15px;
      cursor: pointer;
      color: black;
      background-color: aliceblue;
      box-shadow: 0px 0px 10px rgba(0, 235, 188, 0.7);
      transition: box-shadow 0.3s ease-in-out;
      text-decoration: none;
    }
    
    .button:hover {
      background: #00ebbc;
      box-shadow: 0px 0px 20px rgba(0, 235, 188, 1);
    }
    
    


    .target {
      
      animation: zigzag 2s ease-in-out infinite;
      z-index: -1;
      text-align: center;
    }

    .target img {
      width: 200px;
      height: auto;
      opacity: 0.3;
      position: center;
   
    }
    
    @keyframes zigzag {
      0% {
        transform: translateX(0) translateY(0);
      }
      25% {
        transform: translateX(50px) translateY(100px);
      }
      50% {
        transform: translateX(100px) translateY(0);
      }
      75% {
        transform: translateX(50px) translateY(-50px);
      }
      100% {
        transform: translateX(0) translateY(0);
      }
    }






    body {
    background: url(grouppicbig.png);
 
     background-size:1000px;
     background-repeat: no-repeat!important;
     
     background-color: #000000;
background position: center 100px: ;
     background-position: 40% -20%;
     background-attachment: fixed;


    }}

     


  
      
        
  
   
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media only screen and (max-width: 600px) {













    .target {
      
      animation: zigzag 2s ease-in-out infinite;
      z-index: -1;
      text-align: center;
    }

    .target img {
      width: 200px;
      height: auto;
      opacity: 0.3;
      position: center;
   
    }
    
    @keyframes zigzag {
      0% {
        transform: translateX(0) translateY(0);
      }
      25% {
        transform: translateX(50px) translateY(100px);
      }
      50% {
        transform: translateX(100px) translateY(0);
      }
      75% {
        transform: translateX(50px) translateY(-50px);
      }
      100% {
        transform: translateX(0) translateY(0);
      }
    }
    
    
    
    














   
    body {
      background: url(group\ pic@3x.png);
       background-size: 500px;
       background-repeat: no-repeat!important;
       background-position: center -60px;
       background-color: #000000;
  
      }
  
    
          
  
    


  
  
      .button-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 23vh
          ;
         
      
        }
      
        .button {
          display: inline-block;
          border: solid .25em transparent;
          padding: 1em 1.5em;
          border-radius: 7em;
          margin: 0 15px;
          cursor: pointer;
          color: black;
          background-color: aliceblue;
          box-shadow: 0px 0px 10px rgba(0, 235, 188, 0.7);
          transition: box-shadow 0.3s ease-in-out;
          text-decoration: none;
        }
        
        .button:hover {
          background: #00ebbc;
          box-shadow: 0px 0px 20px rgba(0, 235, 188, 1);
        }
        
      
  
  
  
  
  
   
        
      }
  
  }
    
  